.notice {
   width:260px;
   min-height: 60px;
   padding:10px;
   margin:10px;
   background-color: #FEFEFE;
   background-image: -o-linear-gradient(top, #FEFEFE, #F1F7F8);
   background-image: -moz-linear-gradient(top, #FEFEFE, #F1F7F8);
   background-image: -webkit-linear-gradient(top, #FEFEFE, #F1F7F8);
   background-image: -ms-linear-gradient(top, #FEFEFE, #F1F7F8);
   background-image: linear-gradient(top, #FEFEFE, #F1F7F8);
   border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   font-size: 11px;
   font-family: Tahoma;
   color: #555A62;
   cursor:pointer;
   border:#B7C3CD 1px solid;
}

.notice .notice_title {
   color:#359805;
   height:15px;
   font-size:13px;
   font-weight: bold;
   float:left;
}

.notice .notice_close {
   float:right;
   width:15px;
   height:15px;
   cursor:pointer;
}

.notice .notice_close .cross {
   display: block;
   width:15px;
   height:15px;
   background-image: url("notifier_close_qip.gif");
   background-repeat: no-repeat;
   opacity:0.7;
   filter: alpha(opacity=70);
}

.notice .notice_close .cross:hover {
   opacity:1;
   filter: alpha(opacity=100);
}

.notice .notice_text {
   margin-top:20px;
   width:100%;
}

*html .notice .notice_text {
   margin-top:30px;
}