.notice {
   width:240px;
   min-height: 60px;
   margin:10px;
   background-color: #FF9405;
   border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   font-size: 11px;
   font-family: Tahoma;
   color: #555A62;
   cursor:pointer;
   box-shadow:grey 0 0 3px;
   //border: rgba(0, 0, 0, 0.3) 1px solid;
}

.notice .notice_title {
   min-height: 20px;
   background-image: -o-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -moz-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -webkit-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -ms-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: linear-gradient(top, #FF9A06, #FF6C01);
   color:white;
   width:215px;
   border-radius:5px 0px 0 0;
   -moz-border-radius: 5px 0px 0 0;
   -webkit-border-radius: 5px 0px 0 0;
   -khtml-border-radius: 5px 0px 0 0;
   font-size:13px;
   font-weight: bold;
   float:left;
   padding:5px 0 0 10px;
}

.notice .notice_close {
   float:right;
   width:15px;
   height:15px;
   cursor:pointer;
   border-radius:5px 0px 0 0;
   -moz-border-radius: 5px 0px 0 0;
   -webkit-border-radius: 5px 0px 0 0;
   -khtml-border-radius: 5px 0px 0 0;
   background-image: -o-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -moz-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -webkit-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: -ms-linear-gradient(top, #FF9A06, #FF6C01);
   background-image: linear-gradient(top, #FF9A06, #FF6C01);
}

.notice .notice_close .cross {
   display: block;
   width:15px;
   height:15px;
   background-image: url("notifier_close_skype.gif");
   background-repeat: no-repeat;
   opacity:0.7;
   filter: alpha(opacity=70);
}

.notice .notice_close .cross:hover {
   opacity:1;
   filter: alpha(opacity=100);
}

.notice .notice_text {
   background-color:#E6EFF9;
   margin-bottom:5px;
   border-top:#C4CBD6 1px solid;
   border-bottom:#C4CBD6 1px solid;
   min-height:20px;
   color:grey;
   padding:5px;
}