.notice {
   background-color: rgba(0, 0, 0, 0.7);
   padding:10px;
   margin:10px;
   width:300px;
   min-height: 70px;
   border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   box-shadow: #000000 0px 2px 10px 0px;
   -webkit-box-shadow: #000000 0px 2px 10px 0px;
   -moz-box-shadow: #000000 0px 2px 10px 0px;
   font-size: 11px;
   font-family: Tahoma;
   color: #ffffff;
   cursor:pointer;
}

*html .notice {
   background-color: #000000;
   filter: alpha(opacity=70);
}

.notice .notice_title {
   height:19px;
   font-size:13px;
   font-weight: bold;
   text-shadow: 0px 1px 0px #262626;
   float:left;
}

.notice .notice_close {
   background-color: rgba(0, 0, 0, 0.7);
   box-shadow: #111111 0px 0px 2px 0px, rgba(0, 0, 0, 0.298) 0px 1px 1px 0px inset;
   -webkit-box-shadow: #111111 0px 0px 2px 0px, rgba(0, 0, 0, 0.298) 0px 1px 1px 0px inset;
   -moz-box-shadow: #111111 0px 0px 2px 0px, rgba(0, 0, 0, 0.298) 0px 1px 1px 0px inset;
   border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   float:right;
   width:19px;
   height:19px;
   cursor:pointer;
}

*html .notice .notice_close {
   background-color: #000000;
   filter: alpha(opacity=50);
}

.notice .notice_close .cross {
   display: block;
   width:19px;
   height:19px;
   background-image: url("notifier_close.gif");
   background-position: 6px 6px;
   background-repeat: no-repeat;
   opacity:0.7;
   filter: alpha(opacity=70);
}

.notice .notice_close .cross:hover {
   opacity:1;
   filter: alpha(opacity=100);
}

.notice .notice_text {
   margin-top:20px;
   width:100%;
}